.intel-market-price-root{
    width:100vw;
    box-sizing: border-box;
    background-color:rgb(22, 62, 4);
    min-height:100vh;
    overflow-x: hidden;
}

.response-container{
    width:60%;
    height:max-content;
    margin:0px;
    margin: auto;
    padding:0px;
    color: white;
    /* border: 1px solid white; */
}


.market-main-block{
    width:80%;
    height:max-content;
    margin: auto;
    /* border: 1px solid white; */
    color: white;
}

.market-main-block h3{
    text-align: center;
}

.main-market-form-block{
    width:80%;
    margin: auto;
    /* border:1px solid white; */
    margin-top:5rem;
}

.loader-container {
  color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  