.crop-selection-main-block{
    width:80%;
    /* height:50%; */
    margin: auto;
    border-radius:1rem;
    /* border: 1px solid black; */
}
.table{
    margin:0px;
    padding:0px;
    border: 1px solid rgb(223, 220, 220);
}

.conclusion p{
    width:80%;
    margin: auto;
    text-align: justify;
}

.conclusion h3{
   padding:1rem;
   font-size:20px;
   font-weight: 700;
}

.conclusion{
    margin-top:1rem;
}

.commodity-container{
    height:max-content;
}